:root{
  --bg:#0A0A0A;
  --black:#111111;

  --gold:#D4AF37;
  --goldLight:#F5D97B;

  --white:#F5F5F5;
  --gray:#999999;

  --blood:#5C0000;

  --title-font:"Cinzel", serif;
  --body-font:"Cormorant Garamond", serif;
}